<section>
	<div class="wrapper">
		<% @listings.each do |l|%>
			<h3><%= l.headline %></h3>
			<p><%=l.description %>
			<h4><%=l.devicecondition %></h4>
			<h4><%= l.askprice %>SGD</h4>
			<%end%>
			</div>
			</section>