
<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading">Hi <%= current_user.firstname %>. You are almost done!</h1>
		</div>
	</div>
<div class="container white-color softshadow">
	<div class="row">

		<div class="col-md-12 custom-message">	
					<h3 class="intro">Please select the credits you want to buy.</h3>
					<hr class="gray">
						
	
					<a class="btn orange-flat-button btn-sm" href="/pointspayments/bronzeprocesspayment" method="POST">100 credits for $10</a>
				<a class="btn orange-flat-button btn-sm" href="/pointspayments/silverprocesspayment" method="POST">220 credits for $20</a>
				<a class="btn orange-flat-button btn-sm" href="/pointspayments/goldprocesspayment" method="POST">600 credits for $50</a>


				
					
					
		
			</div>						
		</div>						


</div>
</section>
