
<section>
	<div class="wrapper">
		<div id="about">
		<h1 class="hero">Zalpe</h1>
		<h3 class="center-block">Buy & sell gently used mobile phones and tablets</h2>
		<p class="hero"><span class="emphasis">We're low-cost, secure, and easy to use.</span><br/><span class="different"> Every listing is verified for ownership and gentle usage (no cracks or water damage).</span></p><br/>
		<br />
		</div>
		
		<div id="whyus">
			<h2 class="center-block">Why us?</h2>
				<div class="mini-section">
					<h2 class="round">1</h2>
					<h3>Better Than eBay</h3>
					<p>
					No seller fees! And you get paid faster.<br/>
					No junk devices allowed.<br/>
					We use PayPal, so you are protected.
					</p>
					</div>
					<div class="mini-section">
						<h2 class="round">2</h2>
					<h3>
					No Seller Fees</h3>
					<p>
					It's free to list and free to sell. Zalpe does not charge seller fees.<br/>
					</p></div>
					<div class="mini-section">
						<h2 class="round">3</h2>

						<h3>Great Support, Helpful Staff</h3>
					<p>Our support staff are helpful, active, and knowledgeable mobile experts.<br/>
					We appreciate your business, and it shows.<br/>
					No Junk Devices<br/>
					No cracked screens, no water damage.<br/>
					Devices must be ready for activation.<br/>
					We review and approve every listing.<br/></p></div>
					<div class="mini-section">
						<h2 class="round">4</h2>
					<h3>Buy with Confidence</h3>

					<p>No junk devices allowed.<br/>
					All listings are reviewed and approved by Zalpe team.<br/>
					PayPal protections for buyers and sellers.<br/></p>
					</div>

		
		</div>
		
		<div id="buy" class="cushion">
			<div class="left-column pull-left">
			
			<h2 class="center-block">How to buy a phone using Zalpe?</h2>
			<ul class="hero">
				<li>Login/Signup.</li>
				<li>Find the phone you want to buy.</li>
				<li>Browse Listings.</li>
				<li>Pay through paypal.</li>
				<li>Get mobile phone shipped to your address.</li>
				</ul>
				</div>
		
		
					<div class="right-column pull-right" id="sell">
						<h2 class="center-block">How to sell a phone using Zalpe?</h2>
						<ul class="hero">
							<li>Login/Signup.</li>
							<li>Find the phone you want to sell.</li>
							<li>Create Listing.</li>
							<li>Upload pictures.</li>
							<li>Get Verified.</li>
							<li>Get Sold.</li>
							<li>Receive Payment.</li>
							<li>Ship it.</li>
							</ul>
					</div>
		</div>
		
		</div>
		</section>