<% content_for :title,  "How to buy a used iPhone or iPad" %>

<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading">Buying guide</h1>
		</div>
	</div>
<div class="container white-color softshadow cushion">
<ol class="steps">
<li>Log in to website using the sign in button</li>
<li>Search for a phone you want to buy. Click the buy button.</li>
<li>When you are on the phone's page, you will see all the listings for that phone.</li>
<li>Click on the listing you like, to view it's details.</li>
<li>Converse with the seller by leaving comments on the listing's page.</li>
<li>When you have found a phone that you like, click on the buy button on the listing's page.</li>
<li>Review the order and fill out any information if needed.</li>
<li>You will be redirected to Paypal's website. You can either use your credit/debit card to pay or use your paypal account to pay.</li>
<li>Once the payment is successful, you will be redireced back to our website where you can save the screenshot.</li>
<li>Always leave a comment after completing the purchase, to check seller's promptness.</li>
<li>When the seller adds tracking info, you'll be notified via email.</li>
<li>Your phone should arrive in standard shipping period of 5-7 days.</li>
<li>After the transaction has gone well leave a good feedback for the seller</li>
<li>Enjoy your new phone.</li>
</ol>
</div>
</section>