
	<header id="head">
		<div class="container">
			<div class="row">
			
				<h1 class="lead">BUY & SELL MOBILE PHONES</h1>
				<p class="tagline sub"> We review and verify each listing. Avoid phones with water damage, cracks and activation locks</p>

				<p><a class="btn btn-default btn-lg" href="/pages/buy">MORE INFO</a> <a class="btn btn-action btn-lg"  href="/users/sign_up">JOIN NOW</a></p>
				
				<div class="cushion-1 clear-dark-bg">
										<form class="form-inline main-search" role="search" action="/pages/searchresults">
										<input type="text" name="search" placeholder="Search for the phone you want to buy or sell" class="typeahead">
										  <input type="submit" class="btn btn-lg black-flat-btn" value="Go">
										</form>
										</div>
				
				
				</div>
			
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Selling is free. No commitment. No credit-card required.</h2>
		<br/>
		<p class="text-muted bigger-font">
			You get to keep all your money. This makes it the best place to sell your phone
		</p>
		<a class="btn btn-sm pumpkin-flat-button" href="/users/sign_up">Create a free account</a>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			<h2 class="content-heading text-center thin">Great phones for less!</h3>
			
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="glyph"><span class="glyphicon glyphicon-tint"></span></div>
						<h3 class="content-heading">no water damaged phones</h3>
						<div class="centered-text"><p class="feature-explanation">We don't allow users to list phones with water damage.</p></div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="glyph"><span class="glyphicon glyphicon-phone"></span></div>
						<h3 class="content-heading">no phones with cracked screens</h3>
						<div class="centered-text"><p class="feature-explanation">Every listing is verified to see if the screen of the phone is cracked, if it is so then the listing is rejected.</p></div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="glyph"><span class="glyphicon glyphicon-check"></span></div>
						<h3 class="content-heading">we use paypal so you are safe</h3>
						<div class="centered-text"><p class="feature-explanation">Paypal has a buyer as well as seller protection policy which protects you.</p></div>

					</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->
	<section class="green-color">
		<div class="container how-it-works-section">
			<h2 class=" content-heading text-center thin">It's Easy as 1-2-3</h2>
			
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="glyph img-circle img-responsive img-circle img-responsive"><strong>1</strong></div>
						<div class="h-caption"><h3>Sign up</h3></div>
						<div class="centered-text"><p class="feature-explanation">Create a free account.</p></div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="glyph img-circle img-responsive"><strong>2</strong></div>
						<div class="h-caption"><h3>Buy</h3></div>
						<div class="centered-text"><p class="feature-explanation">Go through all the verified listings and buy one.</p></div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="glyph img-circle img-responsive"><strong>3</strong></div>
						<div class="h-caption"><h3>Phone is delivered</h3></div>
						<div class="centered-text"><p class="feature-explanation">Sit back and relax. Enjoy your sparkling new iPhone when it's delivered!</p></div>

					</div>
			</div> <!-- /row  -->
		
		</div>
</section>