<% content_for :title,  "How to buy a used iPhone or iPad" %>

<div class="outer">
	<div class="main">
		<div class="centered-800 phoneindex rounded offshadow">
		
							<div class="section-heading">
								<h2 class="page-heading">How to sell a phone on zalpe?</h2>
								</div>
	<div class="cushion">
	<ol class="steps">
<li>Log in to website using the sign in button</li>
<li>Search for a phone you want to sell. Click the sell button.</li>
<li>You will be taken to a new listings page.</li>
<li>Fill out the necessary information about your phone.</li>
<li>Add verification pictures.</li>
<li>Publish your listing and then share it with your friends and connections on various social media platforms</li>
<li>Promptly reply to website staff and potential buyer comments.</li>
<li>Once your listing has been sold, ship the phone to purchaser's address</li>
<li>Add tracking information to the sold listing from your dashboard.</li>
<li>After the transaction has gone well leave a good feedback for the buyer</li>
</div>
			</div>
		 </div>
		</div>