<section class="long-form-section">
<div class="header silver-color">
<h1 class="listing-heading">Verification Photos</h1>
</div>
<div class="container cushion bigger-font">

<p>A "verification photo" is a low-tech, but effective, anti-fraud measure. By showing the device next to the unique listing code it proves you have the device you are selling. And it keeps potential scammers from creating listings for high-dollar devices they do not have.</p>


<p>Example Verification Photos</p>

<p>Note how each photo shows the device with it's screen on or at an angle to show the screen condition.</p>

 
 
 
<p>
Each verification photo should meet the following criteria:
<ul>
	
<li>Show the device fully, without a case</li>
<li>The screen should be on</li>
<li>The listing code next to the device on a piece of paper hand written or printed (not digitally added)</li>
<li>The listing code should not obstruct a clear view of the device</li></ul>
You can obviously upload more than one photo to satisfy the above criteria.</p>
</div>
</section>