/*
 *= require_self
 *= require fancybox
 *= require_tree .
 */

@import 'bootstrap';
@import 'social-share-button';

body
{
	background-color:#fcfcfc;
}


div.wrapper
{
	padding:0px;
	margin:20px auto;
	overflow:auto;
	min-height:560px;
	background-color:#fff;
	-moz-box-shadow:     0 0 3px 1px #ccc;
	  -webkit-box-shadow:  0 0 3px 1px #ccc;
	  box-shadow:          0 0 3px 1px #ccc;
}


div.cushion
{
	padding:20px;
}
h1,h2,h3,h4,h5,h6
{
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);

}


/***************Navbar********************/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



/*************Main Page Styles *****************/

ul.phones
{
	margin:0;
	padding:0;
	overflow:auto;
}
ul.phones li
{
	background-color:#fff;
	height:300px;
	margin:0px;
	padding:20px 20px;
	min-height:250px;
	list-style:none;
	float:left;
	-moz-box-shadow:     0 0 3px 0px #ccc;
	  -webkit-box-shadow:  0 0 3px 0px #ccc;
	  box-shadow:          0 0 3px 0px #ccc;
	
}

ul.phones li h3
{
	height:50px;
	font-size:16px;
	padding:17px 5px;
	margin:0px;
	border-bottom:1px solid #ddd;
		
}


ul.phones li img
{
	margin:0 auto;
	
}

ul.phones li div.main-page-img img
{
	height:120px;
}

ul.phones li p
{
	padding:5px;
	margin:0;
	margin-bottom:15px;
	
	
}
ul.phones li h3 a
{
	text-align:center;
	color:#bc5c07;
	font-size:18px;
	text-decoration:none;
}
ul.phones li h3 span.carrier
{
}
ul.phones li p span.price
{
	font-size:18px;
}


.navbar-form .form-control
{
	width:350px;
}

/*************Mobile Phone show Page Styles *****************/

div.phone-header
{
	padding:30px;
	border-bottom:1px #86bbd4 solid;
	
}
div.phone-header div.alert
{
	margin-top:20px;
}
div.phone-header img
{
	float:left;
	margin:20px 20px 20px 0px;
	height:125px;
}

div.listings
{
	margin-top:50px;
}
div.listings ul
{
	margin:0;
	padding:0;
}
div.listings ul.phone h4
{
	font-size:22px;
	margin:0px;
	font-weight:bold;
}


div.listings ul a
{
	text-decoration:none;
}
div.listings ul li
{
	width:100%;
	list-style:none;
	min-height:120px;
	border-bottom:1px #efefef solid;
	border-radius:4px;
	padding:10px;
	margin:0px auto;
	overflow:auto;
}
div.listings ul li:hover
{
	background-color:#fcfcfc;
}
div.listings ul li p
{
	margin:2px;
	color:#3e3e3e;
}
div.listings ul li img
{
	float:left;
	margin:0px 15px;
	width:80px;
	height:80px;
	padding:5px;
	background-color:#fcfcfc;
	border:1px solid #ccc;
	-moz-box-shadow:     0 0 3px 1px #fcfcfc;
	  -webkit-box-shadow:  0 0 3px 1px #fcfcfc;
	  box-shadow:          0 0 3px 1px #fcfcfc;
}
div.listings ul.phone li span.price
{
	font-size:18px;
	color:#000;
}




/****************Lsitings Show Page Styles *******************/

div.phone-info
{

margin:0 15px;
}
div.listing-info
{

}
div.listing-header
{
width:100%;
overflow:auto;
background-color:#fcfcfc;
background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
margin:0px 0px;
box-shadow:0px 0px 5px #ccc;
-webkit-box-shadow:0px 0px 5px #ccc;
-moz-box-shadow:0px 0px 5px #ccc;
}
div.listing-header div.listing-images
{
	padding:0;
	margin:0;
}
div.listing-header div.listing-images img
{

	padding:0;
	margin:10px;
	float:right;
}

div.listing-pricing
{
overflow:auto;
padding:20px;
padding-top:0px;
color:#000;
}
div.listing-pricing div.jumbotron h1
{
color:#3e3e3e;
}

div.listing-condition,div.listing-shipping, div.listing-return, div.images-gallery
{
width:100%;
margin:0px;
border-bottom:1px solid #ccc;
height:400px;
}

div.listing-details h4 
{
padding:10px 10px; 
color:#3e3e3e;
border-radius:8px;
text-shadow: -2px 0px 2px 1px #3e3e3e;
text-align:center;
font-size:36px;
font-family: 'Alegreya Sans SC', sans-serif;
font-weight:400;
}
div.listing-details table.table
{
	width:98%;
	margin:0px 1%;
}




div.listing-details p
{
padding:0px 15px;
text-align:center;
line-height:1.5em;
}
div.listing-device-info
{
margin:50px 0px;
}
div.mini-section
{
	width:100%;
min-height:250px;
overflow:auto
}

div.profile-info, div.listing-info, div.review-section
{
width:100%;
min-height:500px;
}

div.mini-section ul
{
	width:300px !important;
	margin:0 auto;
}


div.comments
{
margin:30px 0px;
padding:20px;
}



div.comment
{
background-color:#fff;
margin:5px 0px;
padding:5px 10px;
overflow:auto;
}
div.comment img
{
	margin:-10px 0px 0px -5px;
	width:50px;
	float:left;
	padding:5px;
	background-color:#fff;
	border:1px solid #fcfcfc;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	
}
p.comment-body
{
	padding:10px;
	background-color:#fcfcfc;
	border-radius:8px;
	border:1px solid #ccc;
	
}




/***********Listing create new page styles ****************/


div.selling-form
{
	width:55%;
	padding:2%;
}
div.selling-instructions
{
	width:40%;
}
div.selling-instructions div.instructions, div.other-terms
{
	border: 1px solid #ddd;
}
div.selling-instructions h4, div.other-terms h4
{
	text-align:center;
	color:#000;
	padding:20px 0px 0px;
}
div.selling-instructions ul, div.other-terms ul
{
	padding-bottom:30px;
}
div.selling-instructions ul li, div.other-terms ul li
{
	width:95%;
	margin:0 auto;
	color:#3e3e3e;
	padding:5px 10px;
	text-align:justify;
}


/************ Dashboard styles *************/

div.main-box
{
	width:200px;
	margin: 20px auto;
}

div.main-box img.main-avatar
{
	background-color:#efefef;
	padding:5px;
	display:block;
	width:100px;
	margin:10px auto;
}
div.main-box a
{
	padding: 10px 5px;
	text-align:center;
}


div.content
{
	border-top:1px solid #ccc;
	overflow:auto;
}
a.fancy-circle
{
	font-size:30px;
	text-align:center;
	padding:160px 10px;
	display:inline-block;
	height:350px;
	width:350px;
	border-radius:330px;
	box-shadow:1px 1px 2px #ccc;
	-webkit-box-shadow:1px 1px 2px #ccc;
	-moz-box-shadow:1px 1px 2px #ccc;
	text-decoration:none;
	font-weight:bold;
}
a.yellow
{
	color:#000;
	background-color:#e7ca70;
	background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
}

div.small-box 
{
	width:29%;
	float:left;
	margin:0px 1.5%;
}
div.small-box h2.list-heading
{
	width:100%;
	margin:20px 30px 0px 30px;
	padding:10px 0px;
	font-size:16px;
	border-bottom: 2px solid #3e3e3e;
}
div.small-box ul.list
{
	width:300px;
	float:left;
	display:inline-block;
	height:400px;
	overflow:scroll;
	padding:0;
	margin:0px 30px;
	width:100%;
}

section div.wrapper div.small-box ul.nav-tabs
{
	margin:0px 30px;
	
}

div.small-box ul.list li
{
	padding:0px;
	margin:0;
	display:inline-block;
	width:100%;
	border-bottom:1px solid #ccc;
}

div.small-box ul.list li img
{
	width:90px;
	background-color:#ececec;
	padding:5px;
	border:1px solid #ccc;
	float:left;
	margin:10px 10px 10px 0;
}
div.feedbacks ul.list li img
{
	width:40px;
}
div.small-box ul.list li h4
{
	color:#3e3e3e;
	font-size:14px;
	line-height:21px;
}
div.small-box ul.list li p
{
	font-size:12px;
	color:#3e3e3e;
	
}
section.profileinfo div.small-box
{
	width:45%;
}



span.vote-img 
{
	width:0.5%;
	color:#000;
}

span.vote-img a
{
	margin:0px;
	font-size:1em;
	color:#ccc;
}
span.vote-img a[disabled]
{
	
	color:#f00;
	opacity:.75;
}

div.review-form
{
	width:94%;
	float:left;
	margin:0px 0px 0px 20px;
}
div.review-section
{
	margin:50px 0px;
}
/***************Main page hero styles *******************/

section.dashboard  div.wrapper
{
	padding:0;
	
}


h1.hero
{

font-family: 'Alegreya Sans SC', sans-serif;
text-align:center;
font-weight:100;
font-size:48px;
word-spacing:0.15em;
color:#3e3e3e;
}
p.hero
{
word-spacing:0.1em;
text-align:center;
font-size:14px;
color:#000;
line-height:20px;
margin-bottom:20px;
}

form .form-control
{
	background:#fff;
	border-color:#86bbd4;
}

div.container section.hero .panel
{
background-color:#3e3e3e;
margin:0px auto 60px;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
border:none;

}

div.container .panel form label
{
	color:#fff;
}
div.container form .form-body
{
margin-top:30px;
}
div.container .panel h1
{
color:#f1f2f3;
}
div.container form .form-control
{
margin:0 auto;
}
section.hero .panel span.helper-block
{
color:#f1f2f3;
}
div.container form select {
	font-size:18px;
	color:#000;
	font-weight:bold;
  width: 100%;
	height:40px;
  border: 1px solid #ccc;
padding:0px 10px;
  background-color: #fff;
-webkit-appearance:none;
border-radius:2px;
}
h3.center-block,h2.center-block
{
text-align:center;
margin:20px 0px;
}



.alert
{
margin-bottom:0px;
}




/************typeahead styles***********/

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 350px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
 
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

/*************Initaite Transaction form ***************/

section#address-confirmation form
{
	width:600px;
	margin:0 auto;
}

/****************footer **************/

footer
{
	min-height:400px;
	background-color:#fff;
}
footer div.links
{
	padding:40px 0px;
	margin: 0 auto;
	text-align:center;
	color:#ccc;
}
footer div.links a
{
	padding:0px 20px;
	font-size:11px;
	color:#3e3e3e;
}

/*********About page************/
section div#about
{
	margin:0;
	background: -webkit-gradient(linear,  50% 100%,  50% 0%,  color-stop(0%,  #ededed),  color-stop(100%,  #fafafa));
    background: -webkit-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -moz-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -o-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: linear-gradient(bottom,  #ededed, #fafafa 7px);
}
section div#about h1
{
	margin-top:0;
}
div#whyus
{
	border-bottom:1px solid #ccc;
}

section div#whyus div.mini-section
{
width:500px;
margin:60px auto;
}
div#whyus div.mini-section h2.round
{
text-align:center;
width:60px;
border-radius:40px;
padding:14px;
margin:0 auto;
background-color:#efefef;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
div#whyus div.mini-section h3
{
text-align:center;
color:#5cb85c;
}
div#whyus div.mini-section p
{
padding:10px;
padding-bottom:20px;
border-bottom: 1px solid #000;
line-height:1.5em;
}

ul.hero li
{
list-style:none;
word-spacing:0.1em;
text-align:center;
font-size:20px;
color:#555;
line-height:30px;
background-color:#fff;
opacity:0.90;
padding:15px;
border-bottom: 1px dotted #ccc;
border-radius:5px;
width:300px;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}




/****************responsive styles*************/


@media (max-width: 1000px) {



}
@media (max-width: 500px) {


div.wrap
{
padding: 0px;
}

div.listing-header div.listing-images img
{
	height:100px;
}
}

/*******************error report**************/

input.error
{
	border: 1px solid #f00;
}
label.error
{
	color: #f00;
}
 div.container section form input.required,  div.container section form textarea.required
{
	
}
span.green
{
	color:#4cae4c;
}