@import 'bootstrap';

body 
{
font-family: 'Roboto', sans-serif;
font-weight:100px;
color:#3e3e3e;
background: url('../graybg.png');

}
.container
{
padding:0;
margin:0;
width:100%;
}
span.branding
{
	color:#41b7d8;
}
.navbar, .navbar-default
{
margin-bottom:0px;
background-color:#fff;
border:none;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
border-radius:0px;
}
ul.phones
{
	overflow:auto;
}
ul.phones li
{
	width:200px;
	margin:20px;
	padding:20px;
	height:250px;
	border:1px solid #ccc;
	list-style:none;
	float:left;
}

ul.phones li h3
{
	font-size:16px;
}
header h1.main-heading
{
	background-color:#fff;
margin:0;
padding-top:30px;
font-family: 'Roboto', sans-serif;
text-align:center;
font-weight:100;
}

section
{
overflow:auto;
padding-top:60px;
margin:0;
min-height:560px;

}
section.hero
{
margin:0;
background-color: #0D4BDA;

background: url('../mainbg.jpg');

}

div.wrapper
{
width:80%;
padding:0 30px;
margin:20px auto;
background-color:#fff;
box-shadow: 1px 1px -1px #ccc;
-webkit-box-shadow: 1px 1px -1px #ccc;
-moz-box-shadow: 1px 1px -5px #ccc;
border-radius:3px;
overflow:auto;
min-height:560px;


}


h1.hero
{

font-family: 'Alegreya Sans SC', sans-serif;
text-align:center;
font-weight:100;
font-size:48px;
word-spacing:0.15em;
color:#3e3e3e;
}
p.hero
{
word-spacing:0.1em;
text-align:center;
font-size:14px;
color:#000;
line-height:20px;
margin-bottom:20px;
}

div.container .panel
{
width:30%;
background-color:#3e3e3e;
margin:0px auto 60px;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);

border:none;

}
div.container form .form-body
{
margin-top:30px;
}
div.container .panel h1
{
color:#f1f2f3;
}
div.container form .form-control
{
margin:0 auto;
}
section.hero .panel span.helper-block
{
color:#f1f2f3;
}
div.container form select {
	font-size:18px;
	color:#000;
	font-weight:bold;
  width: 100%;
	height:40px;
  border: 1px solid #ccc;
padding:0px 10px;
  background-color: #fff;
-webkit-appearance:none;
border-radius:2px;
}
h3.center-block
{
text-align:center;
margin:20px 0px;
}



.alert
{
margin-bottom:0px;
}




div.phone-info
{
float:left;
width:400px;
margin:0 15px;
}
div.listing-info
{
overflow:auto;
width:600px;
float:left;
}
div.listing-header
{
width:100%;
overflow:auto;
background: #fefeb1;
background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
margin:50px 0px;
box-shadow:1px 1px -1px #ccc;
-webkit-box-shadow:1px 1px -1px #ccc;
-moz-box-shadow:1px 1px -1px #ccc;
border: 1px dashed #aaa;
}
div.listing-header div.listing-images
{
	width:600px;
	float:left;
	padding:0;
	margin:0;
}

div.listing-pricing
{
overflow:auto;
float:left;
padding:20px;
padding-top:0px;
color:#000;
}
div.listing-pricing div.jumbotron h1
{
color:#3e3e3e;
}
div.listing-info div.listing-author
{
width:30%;
float:left;
}
div.listing-condition,div.listing-shipping, div.listing-return, div.images-gallery
{
float:left;
width:48%;
margin:0px 10px;
}

div.listing-details h4
{
padding:10px 10px; 
background-color:#f1f2f3;
color:#41b7d8;
border:1px solid #ccc;
border-radius:8px;
text-shadow: -2px 0px 2px 1px #3e3e3e ;
box-shadow:1px 1px -1px #ccc;
-webkit-box-shadow:1px 1px -1px #ccc;
-moz-box-shadow:1px 1px -1px #ccc;

}
div.listing-details p
{
padding:0px 15px;
}
div.listing-device-info
{
margin:50px 0px;
}
div.mini-section
{
min-height:250px;
overflow:auto
}

div.profile-info, div.listing-info, div.review-section
{
width:32%;
float:left;
min-height:500px;
}
div.comments
{
border-top: 1px solid #3e3e3e;
margin:30px 0px;
padding:20px;
}
p.comment-body
{
	border-bottom: 1px dashed #ccc;
}
div.comment-form
{
	background-color:#41b7d8;
	background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	
}
div.comment-form form
{
	padding:20px;
}
div.listing-heading ul
{
	margin:10px 0;
}

div.listing-heading ul li
{
	list-style:none;
	min-height:100px;
	background-color:#fff;
	border:1px #ccc solid;
	border-radius:4px;
	padding:10px;
	margin:0px auto;
}
div.listing-heading ul li img
{
	float:left;
	margin:0px 15px;
	width:80px;
	height:80px;
}
div.selling-form
{
	width:55%;
}
div.selling-instructions
{
	width:40%;
}
div.selling-instructions div.instructions, div.other-terms
{
	border: 1px solid #ddd;
}
div.selling-instructions h4, div.other-terms h4
{
	text-align:center;
	color:#000;
	padding:20px 0px 0px;
}
div.selling-instructions ul, div.other-terms ul
{
	padding-bottom:30px;
}
div.selling-instructions ul li, div.other-terms ul li
{
	width:95%;
	margin:0 auto;
	color:#3e3e3e;
	padding:5px 10px;
	text-align:justify;
}