/*
 *= require_self
 *= require fancybox
 *= require_tree .
 */

@import 'bootstrap';
@import 'social-share-button';

body
{
	letter-spacing:.05em;
	background-color:#fcfcfc;
	background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
}


div.wrapper
{
	padding:0px;
	margin:20px auto 80px;
	overflow:auto;
	min-height:400px;
	background-color:#fff;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.07);
	box-shadow: 0 2px 4px rgba(0,0,0,0.07);
}

div.cushion
{
	margin:10px;
	padding:20px;
}
h1,h2,h3,h4,h5,h6
{
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	font-family: 'Telex', sans-serif;
	

}
.row
{
	margin-right:60px;
}

/***************Navbar********************/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.navbar-default {
    background-color: #0072c6;
    border-color: #0072c6;
	border-radius:0;
}
/* title - E8EC00*/
.navbar-default .navbar-brand {
    color: #ca0202; 
	letter-spacing:-0.1em;
	font-size:24px;
	font-variant:small-caps;
	font-family:'Telex', 'sans-serif';
	
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #3e3e3e;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0072c6;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #0072c6;
    background-color: #fff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #0072c6;
    background-color: #fff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fcfcfc;
    border-bottom-color: #fcfcfc;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fcfcfc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fcfcfc;
    }
}


section .navbar-default
{
	background-color:#fff;
	border-color: #fff;
	border-radius:8px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.07);
	box-shadow: 0 2px 4px rgba(0,0,0,0.07);
}



/* link */
section .navbar-default .navbar-nav > li > a {
    color: #3e3e3e;
}
section .navbar-default .navbar-nav > li > h4.nav
{
	padding:4px 40px 4px 6px;
	font-weight: 600;
	font-family: "Sentinel A","Sentinel B",Georgia,serif;
	color: #0072c6;
}


.navbar-default
{
	background-color: #fff;
	border-color:#fff;
	
}

/************typeahead styles***********/

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 34px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 350px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
 
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

/***************Main Page Styles***********/



section.hero p.hero span.btn-seperator
{
	margin:0px 10px;
	padding:15px 0px;
	font-weight:bold;
	font-size:18px;
	line-height:36px;
}
.announcement
{
background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
border-radius:20px;
margin: 0 auto 30px;
max-width: 650px;
padding:30px;
}

.announcement h2 {
	text-align:center;
color: #AD2BAD;
font-size: 22px;
line-height: 36px;
margin: 0 auto 30px;
text-shadow: 3px 5px 5px rgba(255, 255, 255, 0.4);

}

h1.hero
{

font-family: 'Alegreya Sans SC', sans-serif;
text-align:center;
font-weight:100;
font-size:48px;
word-spacing:0.15em;
color:#3e3e3e;
}
p.hero
{
word-spacing:0.1em;
text-align:center;
font-size:16px;
color: #ccc;
line-height:27px;
margin-bottom:15px;

}


div.container section.hero .panel
{
background-color:#3e3e3e;
margin:0px auto 60px;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
border:none;

}


h3.center-block,h2.center-block
{
text-align:center;
margin:20px 0px;
}



.alert
{
margin-bottom:0px;
z-index:9999;
}









div.main-form
{
	width:100%;
	padding:30px 0px;
}

section#hero-intro div.main-form form.form-inline 
{
	width:80%;
	margin:0px auto;
}
section#hero-intro div.main-form form.form-inline .form-group
{
	width:95%;
}

section#hero-intro div.main-form form.form-inline .form-group .form-control, section#hero-intro div.main-form form.form-inline .form-group .twitter-typeahead, section#hero-intro div.main-form form.form-inline .form-group input.tt-hint, section#hero-intro div.main-form form.form-inline .form-group input.tt-dropdown-menu
{
	width:100%;
}

section#hero-intro
{
	margin:0 0 60px;
	margin-top:-40px;
	z-index:0;
	background-color: #5bc0de;
	background-image: -webkit-radial-gradient(0% bottom, #0072C6 0%, rgba(118,72,160,0) 60%),-webkit-radial-gradient(90% bottom, #0072C6 0%, #46b8da 40%);
	color: #fff;
	-moz-box-shadow:     0 0 3px 1px #fcfcfc;
	  -webkit-box-shadow:  0 0 3px 1px #fcfcfc;
	  box-shadow:          0 0 3px 1px #fcfcfc;
	
	
}





p.hero button
{
	font-weight:bold;
	background:#fff;
	border-color:#fff;
	color:#0072C6;
	
}
section#hero-intro .btn-hero, .btn-hero
{
	background:#fff;
	border-color:#fff;
	background: -moz-radial-gradient(50% 100%, ellipse cover, red 0%, #ca0202 70%);
	background: -webkit-gradient(radial, 50% 100%, 0, center center, 70%, color-stop(0%, red), color-stop(70%, #fff));
	background: -webkit-radial-gradient(50% 100%, ellipse cover, red 0%, #ca0202 70%);
	background: -o-radial-gradient(50% 100%, ellipse cover, red 0%, #ca0202 70%);
	background: -ms-radial-gradient(50% 100%, ellipse cover, red 0%, #ca0202 70%);
	background: radial-gradient(ellipse at 50% 100%, red 0%, #ca0202 70%);
	border-color:#ca0202;
	color:#fff;


}
section.hero p.hero span.btn-seperator
{
	margin:0px 10px;
	padding:15px 0px;
	font-weight:bold;
	font-size:18px;
	line-height:36px;
}


section#hero-intro p
{
	color:#fff;
}
section#hero-intro div.col-md-4
{
	text-align:center;
	margin:50px 0px;
}
section#hero-intro div span.glyphicon
{
	font-size:48px;
	color:#efefef;
	background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
	background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
}
div.row-space-top-3 
{
	padding-bottom:60px;
}

h1.text-special
{
	color:#fff;
	padding:50px 0 0 0;
}




ul.phones
{
	margin:20px 0px 60px;
	padding:0px;
}
ul.phones li.col-md-4, ul.phones li.col-sm-4
{
	width:32.5%;
	background-color:#fff;
	height:300px;
	margin:0.4%;
	padding:60px 0px;
	list-style:none;
	text-align:center;
	-webkit-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.07);
	-moz-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.07);
	box-shadow: 0 0px 4px 0 rgba(0,0,0,0.07);
}

ul.phones li h3
{
	font-size:16px;
	padding:10px 5px;
	margin:0px;
	color:#4f4d4b;
}


ul.phones li img
{
	margin:0 auto;
	
}

ul.phones li div.main-page-img img
{
	height:120px;
}

ul.phones li p
{
	font-size:12px;
	padding:0px;
	margin:0;
	margin-bottom:15px;
	color:#888;
	
	
}
ul.phones li h3 a
{
	text-align:center;
	color:#5e5e5e;
	font-size:16px;
	text-decoration:none;
}
ul.phones li h3 span.carrier
{
}
ul.phones li p span.price
{
	font-size:12px;
}



div.listings ul li img.icon
{
	height:16px;
	width:16px;
	padding:0;
	margin:0;
	border:0;
}
div.listings ul li span.glyphicon-ok 
{
	color:green;
}

section.home div.wrapper h2
{
	margin-top:0px;
	padding:40px 20px;
	font-weight: 600;
	font-family: "Sentinel A","Sentinel B",Georgia,serif;
	color: #0072c6;
	margin-bottom: 20px;
	background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ededed), color-stop(100%, #fff));
	background: -webkit-linear-gradient(bottom, #ededed,#fff 7px);
	background: -moz-linear-gradient(bottom, #ededed,#fff 7px);
	background: -o-linear-gradient(bottom, #ededed,#fff 7px);
	background: linear-gradient(bottom, #ededed,#fff 7px);
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #DDD;
	border-bottom: 0;
}
section.home div.wrapper h2 span.double
{
	padding-bottom:5px;
	border-bottom:5px double #0072c6;
}





/**********form styles *************/

form .form-control
{
	background:#fff;
	border-color:#86bbd4;
}
.navbar-form .form-control
{
	width:350px;
}

div.container .panel form label
{
	color:#fff;
}
div.container form .form-body
{
margin-top:30px;
}
div.container .panel h1
{
color:#f1f2f3;
}
div.container form .form-control
{
margin:0 auto;
}
section.hero .panel span.helper-block
{
color:#f1f2f3;
}
form select {
	font-size:18px;
	color:#000;
	font-weight:bold;
  width: 100%;
	height:40px;
  border: 1px solid #ccc;
padding:0px 10px;
  background-color: #fff;
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
border-radius:2px;
}

/*******************error report**************/

input.error
{
	border: 1px solid #f00;
}
label.error
{
	color: #f00;
}
 div.container section form input.required,  div.container section form textarea.required
{
	
}
span.green
{
	color:#4cae4c;
}
body section#hero-intro div.phone-page span.glyphicon
{
	font-size:150px;
}


section.listing div.wrapper form div.form-group
{
	margin:80px 0px;
}
section.listing div.wrapper form div.form-group h3
{
	color:#0072c6;
	font-size:18px;
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:5px solid #000;
}


/*********Sellpage**************/
section#sell div.wrapper
{
	padding:0;
}
div#aboutsellpage
{
	padding:0;
	margin:0px;
	border-bottom: 1px solid #ccc;
	color: #383834;
	font-size: 18px;
	border-radius: 2px 2px 0 0;
	background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ededed), color-stop(100%, #fafafa));
	background: -webkit-linear-gradient(bottom, #ededed,#fafafa 7px);
	background: -moz-linear-gradient(bottom, #ededed,#fafafa 7px);
	background: -o-linear-gradient(bottom, #ededed,#fafafa 7px);
	background: linear-gradient(bottom, #ededed,#fafafa 7px);
	box-shadow: 0 1px 0 #fff inset;
	margin-bottom:50px;
	
}
div#aboutsellpage h2
{	margin:0;
	padding:20px 20px 10px;
	font-weight: 600;
	font-family: "Sentinel A","Sentinel B",Georgia,serif;
	color: #4f4d4b;
	margin-bottom: 20px;
	
}
div#aboutsellpage p
{
	padding: 0px 20px;
}

section#sell div.wrapper section
{
	min-height:300px;
	border-bottom:1px solid #ccc;
	margin:60px 0px;
}
section#sell div.wrapper section h3
{
	padding-bottom:40px;
	font-weight: 600;
	font-family: "Sentinel A","Sentinel B",Georgia,serif;
	color: #4f4d4b;
	margin-bottom: 20px;
}
section#sell div.wrapper section  form .form-control, section#sell div.wrapper section .tt-dropdown-menu
{
	width:600px;
}

section#sell div.wrapper section img
{
	width:90%;
	padding:10px;
	background-color:#ececec;
	margin: 10px auto 40px;
	border:1px solid #ccc;
}

/*************Mobile Phone show Page Styles *****************/

div.phone-header
{
	padding:30px;
	border-bottom:1px #86bbd4 solid;
	
}
div.listings div.alert
{
	margin:20px 0px;
}
div.phone-header img
{
	float:left;
	margin:20px 20px 20px 0px;
	height:125px;
}

div.listings
{
	margin-top:50px;
}
div.listings ul
{
	margin:0;
	padding:0;
}
div.listings ul.phone h4
{
	font-size:16px;
	margin:0px;
	font-weight:bold;
}


div.listings ul.phone a
{
	text-decoration:none;
}
section div.wrapper div.listings ul.phone li
{
	width:100%;
	padding:1%;
	overflow:auto;
	list-style:none;
	min-height:120px;
	border-bottom:1px #efefef solid;
	border-radius:4px;
	margin:0px;
}
div.listings ul li:hover
{
	background-color:#fcfcfc;
}
div.listings ul li p
{
	font-size:12px;
	margin:2px;
	color:#3e3e3e;
}
div.listings ul li img
{
	float:left;
	margin:0px 15px;
	width:80px;
	height:80px;
	padding:5px;
	background-color:#fcfcfc;
	border:1px solid #ccc;
	-moz-box-shadow:     0 0 3px 1px #fcfcfc;
	  -webkit-box-shadow:  0 0 3px 1px #fcfcfc;
	  box-shadow:          0 0 3px 1px #fcfcfc;
}
div.listings ul.phone li span.price
{
	font-size:30px;
	color:#000;
}




/****************Lsitings Show Page Styles *******************/

div.phone-info
{

margin:0 15px;
}
div.listing-info
{

}
div.listing-header
{
width:100%;
overflow:auto;
background-color:#fcfcfc;
background-image: -webkit-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -moz-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -ms-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: -o-radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
background-image: radial-gradient(50% 50%,contain,rgba(255, 255, 255, .33) 25%,rgba(255, 255, 255, 0) 100%);
margin:0px 0px;
box-shadow:0px 0px 5px #ccc;
-webkit-box-shadow:0px 0px 5px #ccc;
-moz-box-shadow:0px 0px 5px #ccc;
}
div.listing-header div.listing-images
{
	padding:0;
	margin:0;
}
div.listing-header div.listing-images img
{

	padding:0;
	margin:10px;
	float:right;
}

div.listing-pricing
{
overflow:auto;
padding:20px;
padding-top:0px;
color:#000;
}
div.listing-pricing div.jumbotron h1
{
color:#3e3e3e;
}

div.listing-condition,div.listing-shipping, div.listing-return, div.images-gallery
{
width:100%;
margin:0px;
border-bottom:1px solid #ccc;
height:400px;
}

div.listing-details h4 
{
padding:10px 10px; 
color:#3e3e3e;
border-radius:8px;
text-shadow: -2px 0px 2px 1px #3e3e3e;
text-align:center;
font-size:36px;
font-family: 'Alegreya Sans SC', sans-serif;
font-weight:400;
}
div.listing-details table.table
{
	width:98%;
	margin:0px 1%;
}



div.listing-details p
{
padding:0px 15px;
text-align:center;
line-height:1.5em;
}
div.listing-device-info
{
margin:50px 0px;
}
div.mini-section
{
	width:100%;
min-height:250px;
overflow:auto
}

div.profile-info, div.listing-info, div.review-section
{
width:100%;
min-height:500px;
}

div.mini-section ul
{
	width:300px !important;
	margin:0 auto;
}


div.comments
{
margin:30px 0px;
padding:20px;
}



div.comment
{
background-color:#fff;
margin:5px 0px;
padding:5px 10px;
overflow:auto;
}
div.comment img
{
	margin:-10px 0px 0px -5px;
	width:50px;
	float:left;
	padding:5px;
	background-color:#fff;
	border:1px solid #fcfcfc;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	
}
p.comment-body
{
	padding:10px;
	background-color:#fcfcfc;
	border-radius:8px;
	border:1px solid #ccc;
	
}




/***********Listing create new page styles ****************/


div.selling-form
{
	width:55%;
	padding:2%;
}
div.selling-instructions
{
	width:40%;
}
div.selling-instructions div.instructions, div.other-terms
{
	border: 1px solid #ddd;
}
div.selling-instructions h4, div.other-terms h4
{
	text-align:center;
	color:#000;
	padding:20px 0px 0px;
}
div.selling-instructions ul, div.other-terms ul
{
	padding-bottom:30px;
}
div.selling-instructions ul li, div.other-terms ul li
{
	width:95%;
	margin:0 auto;
	color:#3e3e3e;
	padding:5px 10px;
	text-align:justify;
}


/************ Dashboard styles *************/

div.main-box
{
	width:200px;
	margin: 20px auto;
}

div.main-box img.main-avatar
{
	background-color:#efefef;
	padding:5px;
	display:block;
	width:100px;
	margin:10px auto;
}
div.main-box a
{
	padding: 10px 5px;
	text-align:center;
}


div.content
{
	border-top:1px solid #ccc;
	overflow:auto;
	padding-bottom:60px;
}
section.dashboard div.wrapper div.row, section.profileinfo div.wrapper div.row
{
	width:96%;
	padding-bottom:60px;
	margin:0 2%;
}

div.small-box 
{
	background: #fff;
	
}
div.small-box h2.list-heading
{
	width:100%;
	margin:0px;
	padding:20px 0px;
	font-size:16px;
	border-bottom: 2px solid #3e3e3e;
}
div.small-box ul.list
{
	height:400px;
	overflow:scroll;
	padding:0;
	width:100%;
}


section div.wrapper div.small-box ul.nav-tabs
{
	background-color:#fcfcfc;
	margin:0px 0px;
	
}

div.small-box ul.list li
{
	padding:0px 0px 10px;
	margin:10px 0px;
	display:inline-block;
	width:100%;
	border-bottom:1px solid #ccc;
}

div.small-box ul.list li img
{
	width:90px;
	background-color:#ececec;
	padding:5px;
	border:1px solid #ccc;
	float:left;
	margin:10px 10px 10px 0;
}
div.feedbacks ul.list li img
{
	width:40px;
}
div.small-box ul.list li h4
{
	color:#3e3e3e;
	font-size:14px;
	line-height:21px;
}
div.small-box ul.list li p
{
	font-size:12px;
	color:#3e3e3e;
	
}



span.vote-img 
{
	width:0.5%;
	color:#000;
}

span.vote-img a
{
	margin:0px;
	font-size:1em;
	color:#ccc;
}
span.vote-img a[disabled]
{
	
	color:#f00;
	opacity:.75;
}

div.review-form
{
	width:94%;
	float:left;
	margin:0px 0px 0px 20px;
}
div.review-section
{
	margin:50px 0px;
}




/*********About page************/
section div#about
{
	margin:0;
	background: -webkit-gradient(linear,  50% 100%,  50% 0%,  color-stop(0%,  #ededed),  color-stop(100%,  #fafafa));
    background: -webkit-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -moz-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -o-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: linear-gradient(bottom,  #ededed, #fafafa 7px);
}
section div#about h1
{
	margin-top:0;
}
div#whyus
{
	border-bottom:1px solid #ccc;
}

section div#whyus div.mini-section
{
width:500px;
margin:60px auto;
}
div#whyus div.mini-section h2.round
{
text-align:center;
width:60px;
border-radius:40px;
padding:14px;
margin:0 auto;
background-color:#efefef;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
div#whyus div.mini-section h3
{
text-align:center;
color:#5cb85c;
}
div#whyus div.mini-section p
{
padding:10px;
padding-bottom:20px;
border-bottom: 1px solid #000;
line-height:1.5em;
}

ul.hero li
{
list-style:none;
word-spacing:0.1em;
text-align:center;
font-size:20px;
color:#555;
line-height:30px;
background-color:#fff;
opacity:0.90;
padding:15px;
border-bottom: 1px dotted #ccc;
border-radius:5px;
width:300px;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

/*************Initaite Transaction form ***************/

section#address-confirmation form
{
	width:600px;
	margin:0 auto;
}



/****************footer **************/

footer
{
	min-height:400px;
	background-color:#fff;
}
footer div.links
{
	padding:40px 0px;
	margin: 0 auto;
	text-align:center;
	color:#ccc;
}
footer div.links a
{
	padding:0px 20px;
	font-size:11px;
	color:#3e3e3e;
}

/****************responsive styles*************/


@media (max-width: 1000px) {



}
@media (max-width: 500px) {


div.wrap
{
padding: 0px;
}

div.listing-header div.listing-images img
{
	height:100px;
}

ul.phones li.col-md-4, ul.phones li.col-sm-4
{
	width:99%;
	background-color:#fff;
	height:300px;
	margin:0.5%;
	padding:60px 0px;
	list-style:none;
	text-align:center;
	-webkit-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.07);
	-moz-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.07);
	box-shadow: 0 0px 4px 0 rgba(0,0,0,0.07);
}

}



div.side-info
{
	overflow:auto;
	padding:20px;
	margin-bottom:10px;
	background-color:#fff;
	-webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
}
div.side-info h4
{
	color:#0072c6;
}
div.side-info img
{
	width:60px;
	float:left;
	margin:0px 10px 0px 0px;
}
span.different
{
	color: #ca0202; 
}
div.center-img
{
		background-color:#fff;
		-webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
		-o-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
}
div.center-image
{
	overflow:auto;
	padding:20px;
min-height:520px;
}
div.center-img img
{
	height:400px;
}
div.center-img div.listing-images a
{
	display:inline-block;
	float:left;
	margin:10px;
}
div.center-img div.listing-images img
{
	display:inline-block;
	background-color:#fcfcfc;
	padding:10px;
	height:100px;
	
}
 div.listing-images
{
	margin-bottom:30px;
	overflow:auto;
}
