<section>
	<div class="wrapper">
		<div class="cushion">
		<h1>Transaction complete</h1>
<p>Thanks <%= Profile.find_by_vendor_id(session[:buyer_id]).displayname %> for your payment.</p>
<p>This device will ship from: <%= Listing.find(@lid).country %>.<br/>

Sellers are expected to ship within two business days of receiving payment.
</p>
<p>We have sent you a confirmation mail, please save it for future reference.</p>
<p>Meanwhile free free to <%= link_to "Browse More", root_path %></p>
</div>
</div>
</section>