<div class="outer">
<div class="main">
						<div class="centered-800 section rounded phoneshow">
							
		<h1>Transaction complete</h1>
<p>Thanks <%= Profile.find_by_vendor_id(session[:buyer_id]).displayname %> for your payment.</p>
<hr class="gray">


<p>We have sent you a confirmation mail, please save it for future reference.</p>
<p>Meanwhile free free to <%= link_to "Browse More", root_path %>. You can checkout <a href="/pages/iphones-for-sale">all iPhones that are on sale in Singapore</a></p>
</div>
</div>
</div>