<% if params[:l] %>

<section id="address-confirmation">
	<div class="wrapper">
		<div class="cushion">
		<% if !Profile.find_by_vendor_id(current_vendor.id).address.blank? %>
		
<form name="purchase-form" role="form" action="/transactions/processtransaction" method="POST">
	<textarea class="form-control" name="address" type="text" size="25" value="<%= Profile.find_by_vendor_id(current_vendor.id).address%>">
	<input type="hidden" name="l" value="<%= params[:l]%>"><br/>
	<input class="btn btn-success btn-lg" type="Submit" value="Buy now!">
	
	</form>
	
	
	<% else %>
	
		<h4> We didn't find any shipping address on your profile, please enter it below</h4>
	<form name="purchase-form" role="form" action="/transactions/processtransaction" method="POST">
		<input class="form-control"name="address" type="text" size="25" placeholder="Enter your full shipping address here (Address line1, Address line 2 , City, State, Pin code, Country)!">
		<input type="hidden" name="l" value="<%= params[:l]%>"><br/>
		<input class="btn btn-success btn-lg" type="Submit" value="Buy now!">

		</form>
		
		<% end %>
		
		</div>
	</div>
</section>

<% else %>
<% redirect_to root_url() %>
<%end %>